<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gua4_v1_0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.GUA4_v1_0">
        <activity android:name=".homepage"></activity>
        <activity
            android:name=".sig_activity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>